* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colorbox {
  border: 2px solid black;
  height: 250px;
  width: 250px;
  margin-top: 150px;
  margin-left: 120px;
  text-align: center;
  padding-top: 90px;
  box-shadow: 1px 1px 1px black;
  border-radius: 6px;
}

.colorbox p {
  font-size: 25px;
}

.addcolorinput {
  font-size: 18px;
  margin-left: 120px;
  box-shadow: 1px 1px 1px black;
  width: 250px;
  height: 30px;
  border-radius: 6px;
  margin-top: 10px;
}